<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <button [routerLink]="['/restaurants', restaurant._id, 'review']"class="btn btn-primary">New review</button>
      <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Customer</th>
          <th scope="col">Stars</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let review of restaurant.reviews">
          <td>{{review.customer_name}}</td>
          <td>{{review.stars}}</td>
          <td>{{review.description}}</td>
        </tr>
      </tbody>
    </table>
  </div>
    </body>
</html>
