<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      <router-outlet></router-outlet>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Restaurant</th>
                  <th scope="col">Cuisine</th>
                  <th scope="col">Actions available</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor = "let restaurant of restaurants">
                  <td>{{restaurant.name}}</td>
                  <td>{{restaurant.cuisine}}</td>
                  <td>
                    <button [routerLink]="['/restaurants', restaurant._id]" class="btn btn-primary">Read reviews</button>
                    <button (click) = "editRestaurant(restaurant)" class="btn btn-secondary">Update</button>
                    <button (click) = "deleteRestaurant(restaurant._id)" class="btn btn-danger">Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
            <app-editrestaurant *ngIf="selectedRestaurant" [editRestaurant] = "selectedRestaurant"></app-editrestaurant>
            <button (click) = "cancel()" class="btn btn-danger">Close Edit</button>
    </body>
</html>
